<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Css/style.less" rel="stylesheet" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="~/Scripts/Inputs.js"></script>
</head>
<body>
    <section>
        <h1>Fantasy Football Stats</h1>
         @RenderBody()
    </section>
</body>
</html>
