@model FantasyFootballStats.Models.LoginModel

<p>This site is for personal use.</p>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Sign in:</legend>

        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)

        @Html.ValidationSummary()

        <input type="submit" value="Sign in" />
    </fieldset>
}
